input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    border: 1px solid red;
}

.success {
    border: 1px solid green;
}

.notification-error {
    color: red;
}
.block-success, .block-error {
    text-align: center;
    margin: 20px;

}
.block-success {
    color: green;
    border: 1px solid green;
}

.block-error {
    color: red;
    border: 1px solid red;
}